// This is the main GREYSHADE stylus file
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: #FFF;
  font-family: '-apple-system', 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  color: #333;
}

::selection, ::-moz-selection, ::-webkit-selection {
  background: #b2cce6;
  color: color-background;
}

a {
  text-decoration: none;
}

#header {
  height: auto;
  border-bottom: none;

  .subtitle {
    color: #999;
    font-style: italic;
  }

  #main-nav {
    .aboutme {
      line-height: 1.2em;
      color: color-gray02;
      margin-top: 10px;
    }

    ul {
      li {
        font-size: 15px;
      }
    }
  }

  #sub-nav {
    float: none;
    position: relative;

    .search {
      float: none;

      .alignright {
        float: none;
      }
    }
  }

  h1 {
    float: none;
  }

  #main-nav {
    float: none;
    margin-left: 0px;

    ul {
      li {
        margin-left: 0px;
        display: block;

        a {
          padding: 0px 0px;
          text-shadow: 1px 0 #000;
        }
      }
    }
  }
}

.container {
  position: relative;
  min-height: 100%;

  .credit-box {
    color: #AAA;
    font-size: 0.8em;
    position: fixed;
    bottom: 20px;
    left: 40px;

    a {
      color: inherit;
    }
  }

  .mid-col {
    position: absolute;
    right: 0;
    left: 0;
    min-height: 100%;
    margin-left: 250px;
    background: #FFF;

    #banner {
      width: 100%;

      small {
        margin-right: 70px;
      }
    }

    footer.inner {
      text-align: center;
      margin: 0px 70px 0px 40px;
      width: auto;
    }

    .mid-col-container {
      padding: 0px 70px 0px 40px;

      #content {
        width: 100%;

        article {
          border-top: none;

          .title {
            margin-left: 0px;
          }

          .entry-content {
            margin-left: 0px;
            font-size: 16px;
            line-height: 1.8;
            word-wrap: break-word;
            font-family: Arial, 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, Helvetica, Tahoma, 'Arial sans-serif';
            -webkit-font-smoothing: antialiased;
            font-weight: 10;
            .gist .gist-file .gist-data {
              .line_numbers {
                line-height: inherit;
              }

              pre {
                line-height: inherit;
              }
            }

            h2 {
              border-bottom: none;
            }

            h2::before {
              border-bottom: none;
            }

            blockquote {
              border-left: 5px solid greyshade;
              background: #FCFCFC;
            }

            table {
              min-width: 100%;
              line-height: 1.2em;
            }
          }

          .meta {
            position: static;
            color: #555;
            text-align: right;
            width: auto;
            &.meta-art{
              position absolute;
              right 0;
              top: 0px;
              font-size 14px;
              line-height inherit;
              margin-top 0;
            }

            .date::before {
              color: #555;
              position: relative;
              // margin-right 10px
            }

            .tags::before {
              color: #999;
              position: relative;
              margin-right: 10px;
            }

            .print::before {
              color: #555;
              position: relative;
              margin-right: 10px;
            }
          }

          .meta-index-post-entry {
            height: inherit;
            float: none;
            position: absolute;
            right: 0;
            bottom: -2px;
            top: auto;
            .date{
              margin-right:0;
            }
          }

          h1.title {
            position relative;
            a {
              color: #333;
            }

            a:hover {
              color: greyshade;
              -webkit-transition: color 0.3s;
              -moz-transition: color 0.3s;
              -o-transition: color 0.3s;
              transition: color 0.3s;
            }
          }
        }
      }
    }

    footer {
      width: 100%;
    }
  }

  .left-col {
    width: 250px;
    position: fixed;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    .intrude-less {
      width: 100%;
    }

    #header {
      width: 100%;
      box-sizing: border-box;

      #main-nav {
        margin-top: 10px;

        li {
          text-align: center;
        }
      }

      .profilepic {
        width: 160px;
        height: 160px;
        margin: 0 auto;
        margin-bottom: 20px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
        }
      }

      .author-name {
        text-align: center;
        font-size: 2em;

        a {
          color: #fff;
          text-shadow: 0 1px #333;
        }

        a:hover {
          color: greyshade;
        }
      }

      #sub-nav {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;

        .search::before {
          left: 10px;
        }
      }
    }
  }
}

.archives {
  .title {
    font-size: 1.2em;
  }

  article {
    .meta {
      line-height: 1.5em;
      margin-top: 0;

      span::before {
        padding-right: 0;
      }
    }
  }
}

a {
  color: greyshade;
}

a:hover {
  color: greyshade;
}

body {
  @media screen and (max-width: 1040px) {
    margin: 0 0;
  }

  @media screen and (max-width: 640px) {
    .container {
      .left-col {
        position: relative;
        width: 100%;

        #header {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .profilepic {
          width: 80px !important;
          height: 80px !important;
          display none
        }
        .aboutme{
          display: none;
        }
      }

      .mid-col {
        float: none;
        width: 100%;
        margin-left: 0;

        .mid-col-container {
          padding: 0 12px;

          #content {
            article {
              .meta {
                float: none;
              }
            }
          }

          .post-toc {
            float: none;
            margin: 0;
            max-width: 100%;
          }
        }
      }
    }
  }
}

.post-toc {
  float: right;
  min-width: 120px;
  max-width: 260px;
  padding: 8px;
  margin: 0 0 15px 20px;
  border: 1px solid #e2e2e2;
  font-size: 14px;
  background-color: #fff;

  .toc-title {
    font-weight: bold;
    border-bottom: 1px solid #e2e2e2;
  }

  >ol, >ul {
    margin-left: 0px !important;
  }

  ol, ul {
    list-style: none;
    margin-top: 5px !important;
  }
}
.post-comments{
  border-bottom 1px solid #ddd;
  padding-bottom: 10px;
  .post-comments-title{
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 10px;
    padding-top: 15px;
  }
  .vpower.txt-right{
    display none
  }
  .v[data-class=v] .vcards .vcard .vh{
    border-bottom: 1px solid #f1f1f1;
  }
  .v[data-class=v] .vcards .vcard .vquote{
    border-left 0
  }
  .vempty{
    display none!important;
  }
}
#Jcomment:empty{
  min-height: 50px;
  text-align center
  &:before{
    content:'评论组件正在加载中...'
  }
}
code {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 80%;
  margin: 0 2px;
  padding: 4px 5px;
  background-color: #eee;
  vertical-align: middle;
  border-radius: 5px;
}


.wrapper{
  .info {
    color: #676767;
    font-size: 13px;
    padding: 15px 0;
    // border-top: 1px solid #ddd;
  }
  input{
    -webkit-appearance: none;
    border: 1px solid #bbb;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    height: 40px;
    outline: 0;
    padding: 4px 6px;
    width: 100%;
  }
}
#JresList{

  .search-keyword{
    color: #c00;
    font-weight normal;
  }
  ul{
    padding: 0;
    margin: 0;
  }
  .item{
    list-style: none;
    padding: 10px 0 20px;
    border-top: 1px solid #ddd;
    .search-result-link{
      font-size: 95%;
      color: #333;
    }
    .search-result{
      margin-top: 10px;
    }
  }
}