#pagenavi {
  padding: 20px 0;
  height: 20px;
  line-height: 20px;
  position: relative;
  font-weight: bold;
  border-shadow();

  .prev, .next {
    position: absolute;
    max-width :50%;
    setLine();
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}